/*Web Font 2016-10-22*/
html[lang=zh-CN] .centeralign {
    padding-left: 0.4em;
}

html[lang=zh-CN] .centeralignevent {
    padding-left: 0.6em;
}

html[lang=zh-CN] .page-home .homepage-headline .font-adjustment-1 {font-size:37px;vertical-align: 1px;}
html[lang=zh-CN] .page-home .homepage-headline .font-adjustment-2 {font-size:37px;}

@media only screen and (max-width: 1068px) {
html[lang=zh-CN] .page-home .homepage-headline .font-adjustment-1 {font-size:34px;vertical-align: 1px;}
html[lang=zh-CN] .page-home .homepage-headline .font-adjustment-2 {font-size:34px;}
}

@media only screen and (max-width: 735px) {
html[lang=zh-CN] .page-home .homepage-headline .font-adjustment-1 {font-size:29px;vertical-align: 1px;}
html[lang=zh-CN] .page-home .homepage-headline .font-adjustment-2 {font-size:29px;}
}

@media only screen and (max-width: 735px) {
    nav ul, nav ol {
      margin: -9px;
    }
}

.homepage-headline {
    font-size: 40px;
    line-height: 1.2;
}

@media only screen and (max-width: 1068px) {
    .homepage-headline {
        font-size: 36px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 735px) {
    .homepage-headline {
        font-size: 30px;
        line-height: 1.2;
    }
}

#homepage-gallery-iphone .homepage-headline {
    font-size: 42px;
    line-height: 1;
}

@media only screen and (max-width: 1068px) {
    #homepage-gallery-iphone .homepage-headline {
        font-size: 38px;
        line-height: 1;
    }
}

@media only screen and (max-width: 735px) {
    #homepage-gallery-iphone .homepage-headline {
        font-size: 32px;
        line-height: 1;
    }
}